{% extends 'pages/index.html' %}

    {% block content %}

    <div class="col-xl-12">

      <div class="card card-title ">

        <div class="card-body bg-gray-100">

          <div class="row g-3">

            <div class="card-body">

              <div class="row g-2 g-xxl-3 mb-5">

                <div class="col-xl-7">

                  <div class="card card-title">

                    <div class="card-body">
                      <div class="media-profile mb-5">
                        <div class="media-img mb-3 mb-sm-0">
                          <img src="../static/assets/img/working_0.png" class="img-fluid" alt="...">
                        </div><!-- media-img -->
                        <div class="media-body">
                          <h5 class="media-name">{{current_user.prenom}} {{current_user.nom}}</h5>
                          <p class="d-flex gap-2 mb-4"><i class="ri-at-line"></i> {{current_user.email}}</p>
                          <p class="mb-0">L’analyse de la variation qui permet de contrôler les KCRP doit être exécutée
                            au niveau le plus près de l’activité avec
                            un dispositif de pilotage des actions issues de l’analyse des causes de valeurs
                            aberrantes... <a href="">Read
                              more</a>
                          </p>
                        </div><!-- media-body -->
                      </div><!-- media-profile -->

                      <div class="row row-cols-sm-auto g-4">

                        <div class="col">
                          <div class="profile-item">
                            <i class="ri-login-box-line"></i>
                            <div class="profile-item-body">
                              <p>Login</p>
                              <span>{{current_user.prenom}}</span>
                            </div><!-- profile-item-body -->
                          </div><!-- profile-item -->
                        </div><!-- col -->
                        <div class="col">
                          <div class="profile-item">
                            <i class="ri-medal-2-line"></i>
                            <div class="profile-item-body">
                              <p>Profil</p>
                              <span>{{current_user.nom}}</span>
                            </div><!-- profile-item-body -->
                          </div><!-- profile-item -->
                        </div><!-- col -->

                        <div class="col">
                        </div><!-- col -->
                        <div class="col">
                          <div class="profile-item">
                            <i class="ri-suitcase-line"></i>
                            <div class="profile-item-body">
                              <p>Service</p>
                              <span>{{current_user.service.nom }}</span>
                            </div><!-- profile-item-body -->
                          </div><!-- profile-item -->
                        </div><!-- col -->

                        <div class="col">
                          <div class="profile-item">
                            <i class="ri-calendar-line"></i>
                            <div class="profile-item-body">
                              <p>Date Création</p>
                              <span>{{current_user.date_debut}}</span>
                            </div><!-- profile-item-body -->
                          </div><!-- profile-item -->
                        </div><!-- col -->

                        <div class="col">
                          <div class="profile-item">
                            <i class="ri-smartphone-line"></i>
                            <div class="profile-item-body">
                              <p>Matricule</p>
                              <span>{{current_user.matricule}}</span>
                            </div><!-- profile-item-body -->
                          </div><!-- profile-item -->
                        </div><!-- col -->

                        <div class="col">
                          <div class="profile-item">
                            <i class="ri-team-line"></i>
                            <div class="profile-item-body">
                              <p>Nom_abrege</p>
                              <span>{{current_user.nom_abrege}}</span>
                            </div><!-- profile-item-body -->
                          </div><!-- profile-item -->
                        </div><!-- col -->

                      </div><!-- row -->
                    </div><!-- card-body -->
                  </div><!-- card -->

                </div>
                <div class="col-xl-5">

                  <div class="card card-title ">

                    <div class="card-body">

                      {% with messages = get_flashed_messages(category_filter=["success"]) %}
                      {% if messages %}

                      {% for message in messages %}
                      <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      {% endfor %}

                      {% endif %}
                      {% endwith %}

                      {% with messages = get_flashed_messages(category_filter=["error"]) %}
                      {% if messages %}

                      {% for message in messages %}

                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>

                      {% endfor %}

                      {% endif %}
                      {% endwith %}
                      <div class="media-profile mb-5">

                        <div class="media-body">

                          <form class="row g-3" action="/sonatel-gmec/profile_modif/{{ user.id }}" method="POST">
                            <div class="col-12">
                              <label for="inputEmail4" class="form-label">Email</label>
                              <input type="email" class="form-control" name="email" value="{{ user.email }}">
                            </div>
                            <div class="col-12">
                              <label for="inputPassword4" class="form-label">Login</label>
                              <input type="text" class="form-control" value="{{ user.login }}" name="login">
                            </div>
                            <div class="col-12">
                              <label for="inputPassword4" class="form-label">Mot de passe</label>
                              <input type="text" class="form-control"  value="{{ user.password }}" name="password">
                            </div>
                            <div class="col-12">
                              <br>
                              <button class="btn btn-primary btn-sm btn-sign" type="submit"><i class="ri-edit-2-line"></i> Modifier</button>
                            </div>
                          </form>
                          
                        </div><!-- media-body -->
                      </div><!-- media-profile -->

                    </div><!-- card-body -->

                  </div><!-- card -->

                </div>
              </div>
            </div><!-- card-body -->

          </div><!-- row -->
        </div>
      </div><!-- card-body -->

    </div><!-- card -->

    <script src="{{ url_for('static', filename='lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js') }}">
    </script>

    <script src="{{ url_for('static', filename='lib/scurrent_userct2/js/scurrent_userct2.min.js') }}"></script>
    <script src="../static/lib/jquery/jquery.min.js"></script>
    <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/prismjs/prism.js"></script>
    <script src="../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../static/lib/gridjs-jquery/gridjs.production.min.js"></script>

    <script src="../static/assets/js/script.js"></script>
    <script>
      'use strict'
      // Search
      $("#tableGrid3").Grid({
        className: {
          table: 'table table-striped mb-0'
        },
        search: true,
        pagination: true,
        sort: false
      });
    </script>
    <script src="../static/lib/jquery/jquery.min.js"></script>
    <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <script src="../static/js/script.js"></script>
    <script src="../static/js/db.data.js"></script>
    <script src="../static/js/db.helpdesk.js"></script>

    <script src="../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>

{% endblock %}
