{% extends "pages/index.html" %}

{% block title %}
<title>Chargement des défauts</title>
{% endblock %}
{% block content %}
<div class="container">
  <h1>Chargement des Tickets EasyVista</h1>
  <form action="/chargement-tickets" method="post" enctype="multipart/form-data">
    <label for="file">Sélectionner le fichier Excel :</label>
    <input class="form-control" type="file" name="file" id="file" accept=".xlsx" required>
    <br><br>
    <input class="form-control btn btn-primary" onclick="openConfirmationModal()" type="submit" value="Charger">

    <!-- Confirmation Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmationModalLabel">
              <p>Confirmez-vous le chargement des tickets ?</p>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form method="POST" action="{{ url_for('chargement_tickets') }}">
              <label>
                <input type="radio" name="confirmation" value="Oui" required> Oui
              </label>
              <label>
                <input type="radio" name="confirmation" value="Non"> Non
              </label>
              <br>
              <button class="btn btn-primary" type="submit">Valider</button>
            </form>

          </div>
        </div>
      </div>
    </div>

    <script>
      function openConfirmationModal() {
        $('#confirmationModal').modal('show');
      }
    </script>
  </form><br>
  <!-- Confirmation Modal -->
  <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: rgb(255, 94, 0);">
          <h5 class="modal-title" id="messageModalLabel">Details sur le chargement des Tickets</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <center>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-custom">
              <strong>{{ messages[0] }}</strong> <br><br><br>
              <strong>{{ messages[1] }}</strong> <br><br><br>
              <a href="{{ url_for('details_tickets') }}"><strong>{{ messages[2] }}</strong></a> <br><br><br>
            </div>
            <strong>{{ messages[3] }}</strong> <br><br><br>
            {% endif %}
            {% endwith %}
          </center>

        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      $('#messageModal').modal('show');
    });
  </script>

</div>
{% endblock %}