{% extends "pages/index.html" %}

<head>
    <title>Chargement des défauts</title>
</head>
{% block content %}
<div class="container">

    <h1>Chargement des fichiers plats "Défauts"</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <!-- Bootstrap CSS -->
    <!----css3---->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}">
    <form action="{{ url_for('chargement_defauts') }}" method="POST" enctype="multipart/form-data">
        <input class="form-control" type="file" name="file" accept=".xlsx">
        <input class="form-control btn btn-primary" type="submit" value="Charger le fichier">
    </form>

    <br>
    <!--  -->
    
    <!--  -->
    <div class="df-example demo-table">
        <table id="example2" class="table">
            <thead>
                <tr>
                    <th class="wd-20p  text-white" style="background-color: #343640 ;">Numero de mande</th>
                    <th class="wd-25p text-white" style="background-color: #343640 ;">statut demande</th>
                    <th class="wd-25p text-white" style="background-color: #343640 ;">localisation</th>
                    <th class="wd-25p text-white" style="background-color: #343640 ;">description</th>
                    <th class="wd-20p text-white" style="background-color: #343640 ;">resolution</th>
                    <th class="wd-20p text-white" style="background-color: #343640 ;">action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in fichiers %}
                <tr>
                    <td>{{ user.numero_demande }}</td>
                    <td>{{ user.statut_demande }}</td>
                    <td>{{ user.localisation }}</td>
                    <td>{{ user.description }}</td>
                    <td>{{ user.resolution }}</td>
                    <td>
                        <a href="#info{{user.id}}" data-bs-toggle="modal" data-target="#info{{user.id}}">
                            <button type="button" class="btn btn-secondary btn-sm align-items-center gap-2"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier">
                                <i class="ri-edit-line fs-11 lh-1"></i>
                            </button>
                        </a>


                        <a href="{{ url_for('delete',user_id=user.id) }}"
                            onclick="return confirm('Voulez vous supprimer : ?')" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Supprimer">

                            <button type="button" class="btn btn-danger btn-sm"><i
                                    class="ri-delete-bin-5-fill fs-11 lh-1"></i></button>
                        </a>
                    </td>
                </tr>   
                {%endfor%}
        </table>

    </div>

</div>

</div>

{% endblock %}