  {% block css %}{% endblock css %}

  {% extends 'pages/index.html' %}

  {% block content %}

  <div class="container">
    <ol class="breadcrumb df-breadcrumbs mg-b-10">
      <li class="breadcrumb-item"><a href="#">Administration</a></li>

      <li class="breadcrumb-item active" aria-current="page">Utilisateurs</li>
    </ol>

    <h4 id="section2" class="mg-b-10">Corbeilles</h4>
    <p class="mg-b-30">Responsive is an extension for DataTables that resolves that problem by optimising the table's
      layout for different screen sizes through the dynamic insertion and removal of columns from the table.</p>

    <div class="df-example demo-table">
      <table id="example2" class="table">
        <thead>
          <tr>
            <th class="wd-20p  text-white" style="background-color: #343640 ;">Prénoms</th>
            <th class="wd-25p text-white" style="background-color: #343640 ;">Nom</th>
            <th class="wd-25p text-white" style="background-color: #343640 ;">sigle_service</th>
            <th class="wd-25p text-white" style="background-color: #343640 ;">Nom_abrege</th>
            <th class="wd-20p text-white" style="background-color: #343640 ;">Role</th>
            <th class="wd-15p text-white" style="background-color: #343640 ;">Service</th>
            <th class="wd-20p text-white" style="background-color: #343640 ;">Matricule</th>
            <!-- <th class="wd-20p text-white" style="background-color: #343640 ;">Date Fin</th> -->
            <th class="wd-20p text-white" style="background-color: #343640 ;">statut</th>
            <th class="wd-20p text-white" style="background-color: #343640 ;">Date debut</th>
            <th class="wd-20p text-white" style="background-color: #343640 ;">Date de Fin</th>
            {% if current_user.role.role == "Chef de département"%}
            <th class="wd-20p text-white" style="background-color: #343640 ;">Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for user in corbeille_pagination.items %}
          <tr>
            <td>{{ user.prenom }}</td>
            <td>{{ user.nom }}</td>
            <td>{{ user.sigle_service }}</td>
            <td>{{ user.nom_abrege }}</td>
            <td>{% if user.role_id == 1 %}Agent {% elif user.role_id == 2 %} Chef de Service {% elif user.role_id == 3 %} Chef de département {% else %} Qualité Service{% endif %}</td>
            <td>{% if user.service_id == 1 %}ISGTR {% elif user.service_id == 2 %} ISCL {% elif user.service_id == 3 %} CDS {% elif user.service_id == 4 %}ISCC {% elif user.service_id == 5 %}ISREC {% elif user.service_id == 6 %}ISFAC {% elif user.service_id == 7 %}ISGRC  {% else %} ISDC{% endif %}</td>
            <td>{{ user.matricule }}</td>
            <td>{{ user.state }}</td>
            <td>{{ user.date_debut }}</td>
            <td>{{ user.date_fin }}</td>
            {% if current_user.role.role == "Chef de département"%}
            <td>
              <a href="#info{{user.id}}" data-bs-toggle="modal" data-target="#info{{user.id}}">
                <button type="button" class="btn btn-secondary btn-sm align-items-center gap-2" data-bs-toggle="tooltip"
                  data-bs-placement="top" title="Modifier">
                  <i class="ri-edit-line fs-11 lh-1"></i>
                </button>
              </a>

              <a href="{{ url_for('delete_dans_cor',user_id=user.id) }}"
                onclick="return confirm('Voulez vous supprimer {{ user.prenom }} {{ user.nom }} definitivement dans nos base de données : ?')"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer">

                <button type="button" class="btn btn-danger btn-sm"><i
                    class="ri-delete-bin-5-fill fs-11 lh-1"></i></button>
              </a>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>

      <!-- Affichage de la pagination -->
      <!-- Affichage de la pagination avec style Bootstrap -->

    </div><!-- df-example -->
    <nav aria-label="Pagination">
      <ul class="pagination justify-content-center">
        {% for page_num in corbeille_pagination.iter_pages() %}
        {% if page_num %}
        {% if corbeille_pagination.page == page_num %}
        <li class="page-item active" aria-current="page">
          <span class="page-link">{{ page_num }}</span>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('users', page=page_num) }}">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="page-item disabled">
          <span class="page-link">...</span>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div><!-- container -->
  {% endblock content %}

</body>

</html>