{% extends "pages/index.html" %}

{% block css %}

{% endblock %}

{% block content %}
    <div class="container">
        
        <center>
        <h1>Details sur les Tickets rejetés</h1>
        <table class="table">
            <caption>Informations sur les rejets</caption>
            <thead class="table-primary">
              <tr>
                <th>N° Commande</th>
                <th>Demandeur</th>
                <th>Localisation (complète)</th>
                <th>Description</th>
                <th>'Résolu par (intervenant)'</th>
              </tr>
            </thead>
            <tbody>
              {% for index, row in paginated_data.iterrows() %}
              <tr>
                <td>{{ row['N° Commande'] }}</td>
                <td>{{ row['Demandeur'] }}</td>
                <td>{{ row['Localisation (complète)'] }}</td>
                <td title="{{ row['Description'] }}">{{ row['Description'][:30] }}{% if row['Description']|length > 30 %}...{% endif %}</td>
                <td>{{ row['Résolu par (intervenant)'] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        <!-- Pagination -->
        <div class="pagination">
            {{ pagination.links }}
        </div>
          
    </center>
</div>
    {% endblock %}
