{% extends "pages/index.html" %}
{% block content %}
{% block title %}
<title>Paramétrage des types de défauts</title>
{% endblock %}
<div class="container">

    <body>
        
        <!-- Bouton pour ouvrir le modal -->
        {% if current_user.role.role == "Chef de département" %}
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Faire un type de defaut</button>
        {% else %}
        {% endif %}
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Paramétrage des types de défauts</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- <h1>Paramétrage des types de défauts</h1> -->
                        <form method="POST" action="{{ url_for('parametrage_defauts') }}">
                            <label for="type_defaut">Type de défaut:</label>
                            <select name="type_defaut" class="form-control">
                                <option value="Qualification">Qualification</option>
                                <option value="Traitement">Traitement</option>
                            </select>
                            <br>
                            <label for="description_defaut">Description du défaut:</label>
                            <textarea class="form-control" name="description_defaut" rows="5" cols="50" required></textarea>
                            <br>
                            <label for="date_debut">Date Début (JJ/MM/AAAA):</label>
                            <input class="form-control" type="date" name="date_debut" required>
                            <br>
                            {% if current_user.role.role == "Chef de Service " or current_user.role.role == "Chef de département" %} 
                                <label for="" hidden> Commentaires</label>
                                <textarea class="form-control" name="commentaires" rows="5" cols="50" hidden></textarea>
                            {% else %}
                                <label for=""> Commentaires</label>
                                <textarea class="form-control" name="commentaires" rows="5" cols="50"></textarea>
                            {% endif %}
                            <br>
                            <label for="validation">Concerné par:</label>
                            <input type="email" name="email" class="form-control" id="">
                            <br>
                            <label for="validation">Validations:</label>
                            <select name="validation" class="form-control">
                                <option value="Invalide">Invalide</option>
                                <option value="Valide">Valide</option>
                            </select>
                            <div id="" style="display: none;">
                                <label for="">Commentaire évalué (justification) <strong style="color: red;">*</strong>:</label>
                                <!-- <textarea class="form-control" id="" name="evaluer" rows="5" cols="10" ></textarea> -->
                                <input type="text" name="evaluer" id="" class="form-control" maxlength="200">
                            </div>
                            <br>
                            <div id="" style="display: none;">
                                <label for="">Commentaire destiné à son N+1 <strong style="color: red;">*</strong>:</label>
                                <!-- <textarea class="form-control" id="" name="n1" rows="5" cols="10" ></textarea> -->
                                <input type="text" name="n1" id="" class="form-control" maxlength="200">
                            </div>

                            <input class="form-control btn btn-primary" type="submit" value="Valider">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin de Modal -->
        <h2>Liste des défauts paramétrés:</h2>

        <table class="table table-striped mb-0 table-grid" id="tableGrid3">
            <tr>
                <th>Code</th>
                <th>Type de défaut</th>
                <th>Description du défaut</th>
                <th>Date Début</th>
                <th>Date Fin</th>
                <th>Concerné</th>
                <th>Commentaires</th>
                {% if current_user.role.role == "Chef de Service" %}
                <th>Commentaires <span style="color: red;">(A confirmer par N+1)</span></th>
                {% else %}
                <th>Commentaires_evaluer</th>
                {% endif %}
                <th>Service</th>
                <th>Validations</th>
                {% if current_user.role.role == "Chef de Service" or current_user.role.role == "Chef de département"%}
                {% else %}
                <th>Action</th>
                {% endif %}
            </tr>
            {% for defaut in defauts %}
            {% if defaut.user_id == current_user.email %}

            <tr>
                <td>{{ defaut.code }}</td>
                <td>{{ defaut.type_defaut }}</td>
                <td>{{ defaut.description_defaut }}</td>
                <td>{{ defaut.date_debut.strftime('%d/%m/%Y') }}</td>
                <td>{{ defaut.date_fin.strftime('%d/%m/%Y') if defaut.date_fin else '' }}</td>
                <td>{{ defaut.user_id }}</td>
                <td>{{ defaut.commentaires }}</td>
                <td>{{ defaut.commentaires_evaluer }}</td>
                <td>{{ defaut.service }}</td>

                <td>{{ defaut.validation }}</td>
                <td>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#modifierModal{{ defaut.id }}">Modifier</a>
                </td>
                
 
                <!-- FFFFFFFFFFFFFFFFFFFFFFFFF -->
                {% for defaut in defauts %}
                <!-- Modal -->
                    <div class="modal fade" id="modifierModal{{ defaut.id }}" tabindex="-1" aria-labelledby="modifierModalLabel{{ defaut.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modifierModalLabel{{ defaut.id }}">Modifier le défaut</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="{{ url_for('modifier_defaut', defaut_id=defaut.id) }}">
                                        
                                        <label for="type_defaut">Type de défaut:</label>
                                        <select class="form-control" name="type_defaut">
                                            <option value="Qualification">Qualification</option>
                                            <option value="Traitement">Traitement</option>
                                        </select>
                                        <label for="description_defaut">Description du défaut:</label>
                                        <textarea class="form-control" name="description_defaut" rows="5" cols="50">{{ defaut.description_defaut }}</textarea>
                                        <br>
                                        <input class="form-control" type="date" value="{{ defaut.date_fin }}" name="date_fin" required>
                                        <br>
                                        <textarea class="form-control" name="commentaires" rows="5" cols="50">{{ defaut.commentaires }}</textarea>
                                        <br>
                                        <label for="validation{{ defaut.id }}">Validations:</label>
                                        <script>
                                            function afficherChampsCommentaires{{ defaut.id }}() {
                                                var selectElement = document.getElementById('validationSelect{{ defaut.id }}');
                                                var commentaireEvaluerDiv = document.getElementById('commentaireEvaluerDiv{{ defaut.id }}');
                                                var commentaireEvaluerInput = document.getElementById('commentaireEvaluerInput{{ defaut.id }}');
                                                var commentaireNPlusUnDiv = document.getElementById('commentaireNPlusUnDiv{{ defaut.id }}');
                                                var commentaireNPlusUnInput = document.getElementById('commentaireNPlusUnInput{{ defaut.id }}');
                                            
                                                // Récupérer la valeur sélectionnée dans la liste déroulante
                                                var selectedValue = selectElement.value;
                                            
                                                // Afficher ou masquer les champs de commentaires en fonction de la valeur sélectionnée
                                                if (selectedValue === 'Invalide') {
                                                    commentaireEvaluerDiv.style.display = 'block';
                                                    commentaireEvaluerInput.setAttribute('required', 'required');
                                                    commentaireNPlusUnDiv.style.display = 'block';
                                                    commentaireNPlusUnInput.setAttribute('required', 'required');
                                                } else {
                                                    commentaireEvaluerDiv.style.display = 'none';
                                                    commentaireEvaluerInput.removeAttribute('required');
                                                    commentaireNPlusUnDiv.style.display = 'none';
                                                    commentaireNPlusUnInput.removeAttribute('required');
                                                }
                                            }
                                        </script>
                                        
                                        <select name="validation" id="validationSelect{{ defaut.id }}" class="form-control" onchange="afficherChampsCommentaires{{ defaut.id }}()">
                                            <option value="Invalide">Invalide</option>
                                            <option value="Valide">Valide</option>
                                        </select>
                                        <br>
                                        <div id="commentaireEvaluerDiv{{ defaut.id }}" style="display: none;" required>
                                            <label for="commentaireEvaluerInput{{ defaut.id }}">Commentaire évalué (justification) <strong style="color: red;">*</strong>:</label>
                                            <!-- <textarea class="form-control" id="commentaireEvaluerInput{{ defaut.id }}" name="evaluer" rows="5" cols="10" required>{{ defaut.commentaires_evaluer }}</textarea> -->
                                            <input type="text" name="evaluer" value="{{ defaut.commentaires_evaluer }}" id="commentaireEvaluerInput{{ defaut.id }}" class="form-control" maxlength="200" required>
                                        </div>
                                        <br>
                                        <div id="commentaireNPlusUnDiv{{ defaut.id }}" style="display: none;" required>
                                            <label for="commentaireNPlusUnInput{{ defaut.id }}">Commentaire destiné à son N+1 <strong style="color: red;">*</strong>:</label>
                                            <!-- <textarea class="form-control" id="commentaireNPlusUnInput{{ defaut.id }}" name="n1" rows="5" cols="10" required>{{ defaut.commentaires_n1 }}</textarea> -->
                                            <input type="text" name="n1" value="{{ defaut.commentaires_n1 }}" id="commentaireNPlusUnInput{{ defaut.id }}" class="form-control" maxlength="200" required>
                                        </div>
                                        <br>
                                        <input class="btn btn-primary" type="submit" value="Valider le défaut">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- KKKKKKKKKKKKKKKKK -->
                
            </tr>
            {%  elif current_user.role.id == 2 %}
                {% if defaut.service==current_user.service.nom  %}
                    <tr>
                        <td>{{ defaut.code }}</td>
                        <td>{{ defaut.type_defaut }}</td>
                        <td>{{ defaut.description_defaut }}</td>
                        <td>{{ defaut.date_debut.strftime('%d/%m/%Y') }}</td>
                        <td>{{ defaut.date_fin.strftime('%d/%m/%Y') if defaut.date_fin else '' }}</td>
                        <td>{{ defaut.user_id }}</td>
                        <!-- <td>{{ defaut.commentaires }}</td> -->
                        <td>{{ defaut.commentaires }}</td>
                        <td>
                            <a href="#" data-toggle="modal" data-target="#confirmationModal">{{ defaut.commentaires_n1 }}</a>
                        </td>
                          
                        <!-- Confirmation Modal -->
                        <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Voulez-vous envoyer un e-mail au concerné ?</p>
                            </div>
                            <div class="modal-footer">
                                <form action="{{ url_for('modifier_defaut', defaut_id=defaut.id) }}" method="post">
                                <input type="hidden" name="defaut_id" value="{{ defaut.id }}">
                                <label for="validation">Confirmation:</label>
                                <select name="OUI" class="form-control">
                                    <option value="OUI">OUI</option>
                                    <option value="NON">NON</option>
                                </select>
                                <button type="submit" class="btn btn-primary">Envoyer</button>
                                </form>
                            </div>
                            </div>
                        </div>
                        </div>
                          
                          
                        <td>{{ defaut.service }}</td>
                        <td>{{ defaut.validation }}</td>
                        {% if current_user.role.role == "Chef de Service" %}
                            <td hidden>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modifierModal{{ defaut.id }}">Modifier</a>
                            </td>
                        {% endif %}
                        <!-- Modal -->
                        <div class="modal fade" id="modifierModal{{ defaut.id }}" tabindex="-1" aria-labelledby="modifierModalLabel{{ defaut.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modifierModalLabel{{ defaut.id }}">Modifier le défaut</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="{{ url_for('modifier_defaut', defaut_id=defaut.id) }}">
                                            <label for="type_defaut">Type de défaut:</label>
                                            <select class="form-control" name="type_defaut">
                                                <option value="Qualification">Qualification</option>
                                                <option value="Traitement">Traitement</option>
                                            </select>
                                            <label for="description_defaut">Description du défaut:</label>
                                            <textarea class="form-control" name="description_defaut" rows="5" cols="50">{{ defaut.description_defaut }}</textarea>
                                            <br>
                                            <input class="form-control" type="date" value="{{ defaut.date_fin }}" name="date_fin" required>
                                            <br>
                                            <textarea class="form-control" name="commentaires" rows="5" cols="50">{{ defaut.commentaires }}</textarea>
                                            <br>
                                            <label for="validation">Validations:</label>
                                            <select name="validation" value="{{ defaut.validation }}" class="form-control">
                                                <option value="Invalide">Invalide</option>
                                                <option value="Valide">Valide</option>
                                            </select>
                                            <input class="btn btn-primary" type="submit" value="Valider">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </tr>
                {% else %}
                    <tr style="display: none;">
                        
                        <td>{{ defaut.code }}</td>
                        <td>{{ defaut.type_defaut }}</td>
                        <td>{{ defaut.description_defaut }}</td>
                        <td>{{ defaut.date_debut.strftime('%d/%m/%Y') }}</td>
                        <td>{{ defaut.date_fin.strftime('%d/%m/%Y') if defaut.date_fin else '' }}</td>
                        <td>{{ defaut.user_id }}</td>
                        <td>{{ defaut.commentaires }}</td>
                        <td>{{ defaut.service }}</td>
                        <td>{{ defaut.validation }}</td>
                        <td>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modifierModal{{ defaut.id }}">Modifier</a>
                        </td>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="modifierModal{{ defaut.id }}" tabindex="-1" aria-labelledby="modifierModalLabel{{ defaut.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modifierModalLabel{{ defaut.id }}">Modifier le défaut</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="{{ url_for('modifier_defaut', defaut_id=defaut.id) }}">
                                            <label for="type_defaut">Type de défaut:</label>
                                            <select class="form-control" name="type_defaut">
                                                <option value="Qualification">Qualification</option>
                                                <option value="Traitement">Traitement</option>
                                            </select>
                                            <label for="description_defaut">Description du défaut:</label>
                                            <textarea class="form-control" name="description_defaut" rows="5" cols="50">{{ defaut.description_defaut }}</textarea>
                                            <br>
                                            <input class="form-control" type="date" value="{{ defaut.date_fin }}" name="date_fin" required>
                                            <br>
                                            <textarea class="form-control" name="commentaires" rows="5" cols="50">{{ defaut.commentaires }}</textarea>
                                            <br>
                                            <label for="validation">Validations:</label>
                                            <select name="validation" value="{{ defaut.validation }}" class="form-control">
                                                <option value="Invalide">Invalide</option>
                                                <option value="Valide">Valide</option>
                                            </select>
                                            <input class="btn btn-primary" type="submit" value="Valider">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </tr>
                {% endif %}
            {% elif current_user.role.role == "Chef de département" %}
            <tr>
                <td>{{ defaut.code }}</td>
                <td>{{ defaut.type_defaut }}</td>
                <td>{{ defaut.description_defaut }}</td>
                <td>{{ defaut.date_debut.strftime('%d/%m/%Y') }}</td>
                <td>{{ defaut.date_fin.strftime('%d/%m/%Y') if defaut.date_fin else '' }}</td>
                <td>{{ defaut.user_id }}</td>
                <td>{{ defaut.commentaires }}</td>
                <td>{{ defaut.commentaires_evaluer }}</td>
                <td>{{ defaut.service }}</td>
                <td>{{ defaut.validation }}</td>
                {% if current_user.role.role == "Chef de Service" %}
                    <td hidden>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modifierModal{{ defaut.id }}">Modifier</a>
                    </td>
                {% endif %}
                <!-- Modal -->  
                <div class="modal fade" id="modifierModal{{ defaut.id }}" tabindex="-1" aria-labelledby="modifierModalLabel{{ defaut.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modifierModalLabel{{ defaut.id }}">Modifier le défaut</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="{{ url_for('modifier_defaut', defaut_id=defaut.id) }}">
                                    <label for="type_defaut">Type de défaut:</label>
                                    <select class="form-control" name="type_defaut">
                                        <option value="Qualification">Qualification</option>
                                        <option value="Traitement">Traitement</option>
                                    </select>
                                    <label for="description_defaut">Description du défaut:</label>
                                    <textarea class="form-control" name="description_defaut" rows="5" cols="50">{{ defaut.description_defaut }}</textarea>
                                    <br>
                                    <input class="form-control" type="date" value="{{ defaut.date_fin }}" name="date_fin" required>
                                    <br>
                                    <textarea class="form-control" name="commentaires" rows="5" cols="50">{{ defaut.commentaires }}</textarea>
                                    <br>
                                    <label for="validation">Validations:</label>
                                    <select name="validation" value="{{ defaut.validation }}" class="form-control">
                                        <option value="Invalide">Invalide</option>
                                        <option value="Valide">Valide</option>
                                    </select>
                                    <input class="btn btn-primary" type="submit" value="Valider">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </tr>
            {% endif %}
            {% endfor %}
        </table>
</div>
{% endblock %}